* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-title {
    background-color: var(--antique-brass);
    color: var(--white);
}

.logo {
    padding: 0;
    margin-right: 0%;
    z-index: 50;
}

.header-z-index {
    z-index: 99;
}

.btn-color {
    background-color: transparent;
}

.logo img {
    max-width: 151px;
    aspect-ratio: 2.8;
}

.pipe {
    margin-left: 4px;
    margin-right: 4px;
}

.space {
    margin-left: 7px;
}

.anno-color {
    color: var(--white);
}

.header-link {
    padding: 0;
}

.header-title {
    padding: 2px 2px;
}

.header-title p {
    font-size: 10px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.05em;
}

.header-link ul li {
    position: relative;
}

.header-link ul li+li {
    margin-left: 36px;
}

ul li {
    list-style-type: none;
    font-size: 15px;
    letter-spacing: 0.07em;
    font-family: var(--font-family-karla);
    font-weight: 500;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.header-icon {

    z-index: 50;
}

.header-icon a img {
    width: 24px;
    height: 25px;
}

/* .header-icon a+a {
    padding-left: 10px;
    margin-left: 5px;
} */

.navbar-nav .nav-item {
    position: relative;
}

.overlay {
    top: 95px;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
    opacity: 0.6;
    background-color: var(--black);
}
.image-Slider .swiper-wrapper{
    transition-timing-function: linear !important;
}


.navbar-nav .nav-item::after {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--antique-brass);
    transition: width 0.4s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar .mob-nav-font li {
    font-size: 16px;
    line-height: 2.5;
    color: var(--black);
    font-family: var(--font-family-karla);
    font-weight: 300;
}
.row-margin{
    margin: 0;
}
#megamenu .mega {
    margin-top: -5px;
    border: none !important;
}

.nav-overflow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
}


#mobileNav {
    position: absolute;
    top: 96%;
    left: -100%;
    width: 82%;
    background-color: #fff;
    z-index: 1;
    padding: 0;
    transition: 0.3s;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}


#mobileNav ul:nth-child(2) {
    flex: 1;
}

#mobileNav ul {
    width: 100%;
}

.left-icon {
    margin-left: -19px;
}

.left-icon div+div {
    margin-left: 10px;
}

.nav-item ul li:hover a {
    color: var(--copper);
}

.mega::before {
    content: "";
    position: absolute;
    display: block;
    top: -8%;
    bottom: 2%;
    left: 25%;
    width: 5%;
    height: 29%;
}

.about-bridge::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 100%;
    width: 75%;
    height: 15%;
}

.nav-item ul li:hover a {
    color: var(--copper);
}

.nav-li ul li a {
    font-family: var(--font-family-karla);
    font-weight: 300;
    font-size: 14px;
}

.header-icon #menu-icon-link {
    width: 20px;
    height: 20px;
}

#ul {
    margin-top: 28px;
    border: none;
    margin-left: -30px;
}

#ul li a {
    background-color: transparent;
}

#menu-icon-link:first-child {
    margin-left: 9px;
}

.banner {
    position: static;
    min-height: 40.07vw;
    margin-top: -4px;
}

.banner .container {
    padding: 0;
}

.wrap-image {
    position: static;
    left: 0;
    width: 100%;
}

.max-widths {
    max-width: 760px;
}

.wrap-text {
    aspect-ratio: 1.21;
    text-align: center;
}

.wrap-text p {
    max-width: 354px;
    padding-bottom: 27px;
    margin: 7px;
    padding-top: 10px;
}
.banner-cont>.wrap-image>picture>img {
    object-fit: cover;
}

.right-icon {
    /* margin-left: 19px; */
    padding-right: 0;
}

.right-icon a+a {
    margin-right: 1px;
}

.wrap-text {
    position: static;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4px;
    width: 100%;
    background-color: var(--mob-text-bg-color);
}

.h1-font {
    font-size: 29px;
    font-family: var(--font-family-bodonimoda);
    font-weight: 600;
    /* padding-bottom: 15px; */
    line-height: 1.45;
}

.span-font {
    font-size: 29px;
    font-family: var(--font-family-bodonimoda);
    font-weight: 600;
    font-style: italic;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.btn-hover:hover {
    color: var(--copper);
    background-color: var(--white);
}

#megamenu-item:hover {
    display: block;
}

#megamenu.dropdown {
    position: static;
}

#megamenu img {
    width: 100%;
}

#megamenu .dropdown-menu .row .col-20:first-child img {
    margin-left: 100px;
}

#megamenu .dropdown-menu .row .col-20+.col-20 {
    margin-right: -35px;
}

#megamenu .col-20 p {
    font-size: 0.845rem;
    line-height: 1.428;
}

.col-width a:hover {
    color: var(--copper);
}

#megamenu .row {
    max-width: 1180px;
}

.row .col-width a p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
}

.guuter {
    margin: 0 -15px;
}

.zero {
    margin-top: 5px;
    width: 20px;
    height: 22px;
    font-size: 12px;
    line-height: 2;
    font-family: var(--font-family-karla);
    font-weight: 500;
    /* padding: 3px 6px; */
}

.marquee-container {
    overflow: hidden;
    width: 100%;
}

.marquee {
    animation: marquee 10s linear infinite running;
    list-style: none;
    white-space: nowrap;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.marquee li {
    font-size: 15px;
    font-family: var(--font-family-karla);
    color: var(--copper);
    margin-right: 20px;
    position: relative;
    padding-left: 20px;
    transition: all 0.2s ease;
}

.marquee li+li::before {
    position: absolute;
    left: -15px;
    content: "•";
    font-size: 10pt;
}

.marquee li+li {
    margin-left: 20px;
}

#d-search {
    display: none;
}

.col-3 {
    max-height: 548px;
    overflow: hidden;
}

.col-3 .span-1 {
    margin-left: 73px;
    font-weight: normal;
}

.badge-padding {
    position: absolute;
    top: 0;
}

.col-3 .s1 {
    font-weight: normal;
    margin-left: 32px;
}

.col-12 h3 {
    line-height: 1.49;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-link-margin {
    margin-top: -27px;
}

.beauty-head {
    font-family: var(--font-family-karla);
    font-weight: 500;
}

.beauty-subline {
    margin-top: 5px;
    font-family: var(--font-family-karla);
    font-size: 13px;
    font-style: italic;

}
.m-n15{
    margin: 0 -15px;
}
.swiper-button-n{
    top: var(--swiper-navigation-top-offset,50%);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    padding: 12px 17px;
    height: 49px;
    width: 49px;
    transform: rotate(45deg);
}
.swiper-button-n a svg{
    transform: rotate(319deg);
}
.swiper-button-p a{
    top: var(--swiper-navigation-top-offset,50%);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
}

.text-center .row {
    position: relative;
}

.image-container .second-image,
.image-container .circle-radio {
    display: none;
}

.image-container:not(:hover) .btn-bag {
    transform: translateY(57px);
}

.image-container:hover .second-image,
.image-container:hover .circle-radio,
.image-container:hover .btn-bag {
    display: block;
}

.image-container .btn-bag:hover {
    background-color: var(--champaginepink-200);
}

.image-container:hover .first-image,
.image-container:hover .beauty-subline {
    display: none;
}

.image-container {
    width: 100%;
    max-width: 100%;
}

.circle-radio input {
    margin-top: 5px;
    width: 16px;
    height: 16px;
}

.col-3 svg {
    margin-top: 5px;
}

.btn-bag {
    padding: 11px;
    text-transform: uppercase;
    font-family: var(--font-family-karla);
    line-height: 2;
    font-weight: 500;
    transition: 0.4s;
    margin-top: 10px;
    background-color: transparent;
}

input[type=radio].bg-radio-1 {
    appearance: none;
    background-color: #E8A273;
    border-radius: 50%;
    border: none;
}

input[type=radio].bg-radio-2 {
    appearance: none;
    background-color: #9e6f73;
    border-radius: 50%;
    border: none;

}

input[type=radio].bg-radio-3 {
    appearance: none;
    background-color: #c8877c;
    border-radius: 50%;
    border: none;
}

input[type=radio].bg-radio-4 {
    appearance: none;
    background-color: #eaa07f;
    border-radius: 50%;
    border: none;
}

.circle-radio input[type="radio"]:checked {
    outline: 1px solid var(--black);
    outline-offset: 2px;
}

.circle-radio input[type="radio"]:disabled {
    outline: 1px solid var(--black);
    outline-offset: 0px;
}

.col-12 .sec-6-h3 {
    margin-top: 60px;
    font-size: 21px;
    margin-bottom: 10px;
}

.col-12 .sec-6-p {
    letter-spacing: 0px;
    max-width: 666px;
}

.col-12 a p {
    font-size: 15px;
    line-height: 1.26;
    font-weight: 500;

}

.btn-link-sec-6-margin {
    margin-top: 40px;
}

.col-4 .sec-7-text p {
    max-width: 358px;
    text-align: center;
}

.row .col-lg-2 img {
    max-height: 80px;
    max-width: 80px;
    object-fit: contain;
}

.sec-7-text {
    max-width: 322px;
}

.image-block div div img {

    object-fit: cover;
}

.image-block div div {
    object-fit: cover;
    aspect-ratio: 0.6;
}

.mob-padding {
    padding: 0 8px;
}

.auto-text {
    max-width: 358px;
    letter-spacing: 0;
}

.auto-text div p,
.auto-text div p,
.w-48 div div:first-child p {
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.07em;
}

.auto-text div:last-child div {
    max-width: 165px;
}

.auto-text div:last-child img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hyntimg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -2%;
    height: 117%;
    width: 52%;
    z-index: -1;
    background-color: var(--champaginepink-200);
    border-radius: 0 50px;
}

.w-50 div.position-relative {
    padding: 0 12px;
}

.w-50 div.position-relative div {
    height: 184px;
    width: 119px;
    bottom: -89px;
    left: -24px;
}

.image-content-overlay .row .image-blog {
    padding: 40px 0;
    margin-left: 22px;
}
.image-with-text{
    max-width: 850px;
    margin: 20px;
}

.image-with-text svg {
    margin-bottom: 10px;
    margin-left: 10px;
}
.image-content-mw{
    max-width: 315px;
}

.w-48 div div:first-child p {
    padding-top: 25px;
    color: var(--copper);
}

.outline-margin {
    margin-top: 30px;
}

.key-feature img {
    object-fit: cover;
    aspect-ratio: 0.653;
}

.image-on-btn a {
    padding: 18px 48px;
    font-size: 13px;
}

.image-on-btn a#btn-skincare {
    padding: 18px 28px;
}

.key-feature p {
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.07em;
}

.max-315 {
    max-width: 315px;
    margin-left: -10px;
}

.footer-section ul li a:hover {
    color: black;
}

.about_us ul li:first-child,
.customer-care ul li:first-child,
.Discover-part ul li:first-child,
.Subscribe-box ul li:first-child {
    letter-spacing: 0;
}
.about_us ul li:not(:first-child),
.customer-care ul li:not(:first-child),
.Discover-part ul li:not(:first-child),
.Subscribe-box ul li:not(:first-child),
.Subscribe-box input::placeholder {
    font-family: var(--font-family-Karla);
    line-height: 2.4;
    font-size: 15px;
    letter-spacing: 0;
}
.Subscribe-box input {
    padding: 10px 15px 10px 16px;
    border: none;
}
.Subscribe-box ul li:nth-child(2) {
    line-height: 1.67;
}

.footer-section ul li a:hover {
    color: black;
}

.Subscribe-box input::placeholder {
    color: var(--black);
    font-size: 14px;
    font-weight: normal;
}

.Subscribe-box p {
    font-size: 12px;
    line-height: 2.33;
    letter-spacing: 0.05em;
    color: var(--pantone);
}

.Subscribe-box .top {
    top: 11px;
}

.Subscribe-box .right {
    right: 10px;
}

.social-app div {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #D29C7D;
}

.Subscribe-box .social-app div a {
    margin-top: 3px;
    height: 15px;
    width: 15px;
}

.Subscribe-box .social-app div a img {
    object-fit: contain;
}

.Subscribe-box .social-app div:hover {
    background-color: #9B6A45;
}

.content-footer {
    max-width: 354px;
    border: 1px solid #CDB4A1;
}

.content-footer p {
    font-size: 13px;
    line-height: 1.69;
    color: #9B6A45;
    letter-spacing: 0;
}

.copiright-info span {
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.69;
    font-family: var(--font-family-Karla);
}

#iframe_video {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    opacity: 9999999;
}

#videoModal {
    background-color: #F2DBCF;
    width: 100vw;
    height: 100vh;
}

#closeButton {
    border: none;
    top: -59px;
    right: -180px;
}
.offset{
    margin-left: 30px;
}



@keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}


@media (min-width: 576px) {


    .nav-li ul li+li {
        margin: 0;
    }

    .header-icon #menu-icon-link {
        margin-right: 25px;
    }

    .h1-font {
        padding-top: 30px;
    }
    .mobile .icons img {
        margin-left: -25px;
    }

    #d-search {
        display: none;
    }

    .search-item p {
        font-size: 30px;
        font-family: var(--font-family-bodonimoda);
        font-weight: 500;
        line-height: 1.067;
        /* padding-bottom: 20px; */
    }

    .search-icon img {
        width: 24px;
        height: 24px;
        margin-bottom: 20px;
    }

    .search-bar {
        margin-top: -60px;
        width: 100%;
        min-height: 240px;
        background-color: var(--white);
        z-index: 1;
        padding-top: 4%;
    }

    #search-line {
        width: 100%;
        max-width: 950px;
    }

    #search-line .col-1 p {
        margin-left: -15px;
        font-size: 15px;
        font-family: var(--font-family-karla);
        font-weight: bold;
        line-height: 1.73;
        color: var(--copper);
        /* margin-top: 15px; */
    }

    #search-line .col> ::placeholder {
        font-family: var(--font-family-karla);
        font-size: 18px;
        line-height: 1.44;
    }

    .search-bar {
        display: none !important;
    }

    .max-widths {
        max-width: 760px;
    }
    .wrap-text {
        aspect-ratio: 1.4;
        text-align: center;
    }

    .wrap-text p {
        max-width: 500px;
        padding-bottom: 40px;
    }

    .col-12 .sec-6-h3 {
        margin-top: 85px;
        text-align: center;
        font-size: 35px;

    }
    .w-48 div div:first-child p {
        max-width: 560px;
    }
    .col-12 .sec-6-p {
        text-align: center;
        margin-left: 25%;
    }

    .row .col-lg-2 img {
        max-height: 102px;
        max-width: 112px;
    }

    .col-12 .sec-6-p {
        margin-left: 0;
    }

    .mob-padding {
        padding: 15px;
    }

    .auto-text {
        max-width: 500px;
    }
    .outline-margin {
        margin-top: 0px;
    }

    .content-footer {
        max-width: 750px;
    }

}


@media (min-width:768px) {
    .header-title p {
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.05em;
        padding: 6px 0;
        margin: 0 auto;
    }

    .nav-li ul li+li {
        margin: 0;
    }

    #menu-icon-link a img+img {
        margin-left: 10px;
    }

    .h1-font {
        font-size: 35px;
        line-height: 1.58;
    }

    .span-font {
        font-size: 35px;
        line-height: 1.58;
    }

    .search-bar {
        display: none !important;
    }

    .wrap-text p {
        font-size: 16x;

    }

    .max-widths {
        max-width: 760px;
    }
    .wrap-text {
        aspect-ratio: 1.8;
        text-align: center;
    }

    .wrap-text p {
        max-width: 500px;
        padding-bottom: 40px;
    }

    .row .col-lg-2 img {
        max-height: 95px;
        max-width: 103px;
    }

    .col-12 .sec-6-p {
        margin-left: 4%;
    }
    .offset{
        margin-left: 0px;
    }
    .w-48 div div:first-child p {
        max-width: 780px;
    }
}



@media (min-width:992px) {

    .header-link ul li+li {
        margin-left: 5px;
    }

    .header-icon a+a {
        margin-left: 15px;
        padding-left: 0;
    }

    .header-title p {
        font-size: 13px;
        line-height: 2;
        letter-spacing: 0.05em;
        padding: 6px 0;
        margin: 0 auto;
    }
    .logo {
        margin-right: 4%;
    }

    .logo img {
        margin-left: 0px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .nav-li ul li+li {
        margin: 0;
    }

    .wrap-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        min-height: 40.07vw;
        max-width: 523px;
        margin-left: 40px;
        top: -21px;
        background-color: transparent;
        padding: 0;
    }
    .wrap-text {
        aspect-ratio: 0;
    }

    .wrap-image {
        position: absolute;
        /* left: 0;
        width: 100%; */
    }

    .banner {
        position: relative;
        min-height: 40.07vw;
    }
    .banner .wrap-image picture img{
        object-fit: fill;
    }

    .btn-hover {
        margin-top: 29px;
        margin-right: 323px;
    }

    .h1-font {
        font-size: 42px;
        font-family: var(--font-family-bodonimoda);
        font-weight: 600;
        padding-bottom: 15px;
        /* margin-left: 35px; */
    }

    #d-search {
        position: absolute;
        top: -150%;
        transition: 0.4s linear;
        display: none;
    }

    .span-font {
        font-size: 42px;
        font-style: italic;
    }

    .zero {
        margin-left: 5px;
        width: 24px;
        height: 24px;
        font-size: 13px;
        line-height: 2;
        font-family: var(--font-family-karla);
        font-weight: 500;
        /* padding: 4px 8px; */
        padding: 0;
    }

    .search-bar {
        display: block !important;
    }

    .row .col-lg-2 img {
        max-height: 90px;
        max-width: 98px;
    }

    .col-12 .sec-6-p {
        margin-left: 15%;
    }

    .sec-7-text {
        max-width: 370px;
    }

    .image-block div div {
        aspect-ratio: 0;
    }

    .auto-text {
        max-width: 816px;
    }

    .auto-text div p,
    .w-48 div div:first-child p {
        font-size: 15px;
        line-height: 1.73;
    }

    .hyntimg {
        max-width: 1440px;
    }

    .auto-text div:last-child div {
        max-width: 165px;
    }

    .w-50 {
        width: 52% !important;
    }

    .w-48 {
        width: 46% !important;
    }

    .w-48 div {
        max-width: 550px;
        letter-spacing: 0;
    }

    .w-48 div div:last-child .position-relative button {
        padding: 18px 35px;
        border: none;
    }
    .w-48 div div:first-child p {
        padding-top: 0px;
    }
    #hyntimg::before {
        top: -42px;
        left: -5%;
        height: 118%;
    }
    .image-with-text{
        max-width: 550px;
    }

    .w-50 div.position-relative div {
        height: 231px;
        width: 209px;
        bottom: -112px;
        left: -115px;
    }

    .w-50 div img {
        object-fit: cover;
        aspect-ratio: 1.427;
    }

    .w-48 div div:first-child p {
        max-width: 440px;
    }

    .key-feature {
        aspect-ratio: 2.494;
    }

    .key-feature div div {
        max-width: none;
    }

    .image-on-btn div img {
        max-height: 90px;
        max-width: 98px;
    }

    .about_us ul li:not(:first-child),
    .customer-care ul li:not(:first-child),
    .Discover-part ul li:not(:first-child),
    .Subscribe-box ul li:not(:first-child),
    .Subscribe-box input::placeholder {
        line-height: 2.28;
        font-size: 14px;
    }

    .Subscribe-box {
        max-width: 500px;
    }

    .content-footer {
        max-width: 1150px;
        border: 1px solid #CDB4A1;
    }

    .content-footer p {
        font-size: 13px;
        line-height: 1.64;
    }
    #videoModal{
        background-color: #F2DBCF;
        width: 100vw;
        height: 100vh;
   }
}


@media (min-width:1000px) {

    .header-link ul li+li {
        margin-left: 6px;
    }
}

@media (min-width:1100px) {
    .header-link ul li+li {
        margin-left: 15px;
    }

    .header-icon a+a {
        margin-left: 30px;
        padding-left: 0px;
    }

    .nav-li ul li+li {
        margin: 0;
    }

    .col-12 .sec-6-p {
        margin-left: 20%;
    }
}

@media (min-width: 1200px) {
    .header-link ul li+li {
        margin-left: 25px;
    }

    .header-icon a+a {
        margin-left: 26px;
        padding-left: 0px;
    }

    .nav-li ul li+li {
        margin: 0;
    }
}

@media (min-width: 1300px) {
    .header-link ul li+li {
        margin-left: 35px;
    }

    .nav-li ul li+li {
        margin: 0;
    }

    .col-12 .sec-6-p {
        margin-left: 25%;
    }
}
